@font-face {
  font-family: "NanumBarunGothic";
  src: url("resources/fonts/NanumBarunGothic.ttf") format("ttf");
    
  font-family: "NanumBarunGothicBold";
  src: url("resources/fonts/NanumBarunGothicBold.ttf") format("ttf");
}

* {
    font-family: "NanumBarunGothic";
    /* 개발용 테두리 설정 */
}

body {
    background-image: url(../images/IDfinder.jpg);
    background-size: cover;
}

#login_container {
    margin: 0px;
    margin-top: 20%;
    padding: 0px;
    height: 100%;
}

#form_wrapper {
    padding: 2%;
    margin: 0px;
    height: 55%;
    background-color: black;
}

#left_form {
    border-right: 1px solid gray;
    padding: 0px;
    padding-right: 2.5%;
}

#form_title img {
    width: 70%;
}

#input_id label, #input_password label, #check_group, #finder a {
    font-family: "NanumBarunGothicBold";
    color: rgb(252, 180, 22);
    font-size: 14px;
    font-weight: bold;
}

#check_group, #finder a {
    font-family: "NanumBarunGothic";
    font-weight: normal;   
}

#input_id, #input_password {
    margin: 5% 0px;
}

#input_id input[type="text"], #input_password input[type="password"] {
    width: 90%;
    margin: auto;
    text-align: center;
}

#check_group {
    margin: 5% 0px;
    text-align: center;
}


#submit_button {
    text-align: center;
}

#submit_button button {
    margin-top: 8%;
    width: 90%;
    background-color: rgb(252, 180, 22);
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 0px;
}

#finder {
    margin-top: 2%;
    text-align: center;
}

#right_notice {
    padding: 0px;
    padding-left: 5%;
}

#subtitle {
    margin: 3% 0px;
}

#subtitle a {
    font-size: 24px;
    font-weight: bold;
    color: rgb(225, 225, 225);
}

.notice_data {
    margin: 2% 0px;
    max-height: 80%;
}

.notice_data a {
    color: rgb(225, 225, 225);
}

.notice_data a:hover {
    text-decoration: none;
}

.notice_data #notice_picture img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.notice_data #notice_title {
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    height: 100%;
    padding-left: 2%;
}

.notice_data #notice_content {
    font-size: 12px;
    width: 70%;
    height: 100%;
    padding-left: 2%;
}

#notice_button {
    width: 100%;
    margin: 0px;
    margin-top: 7.5%;
}

#notice_button #prev_button {
    padding: 0px;
}

#notice_button #next_button {
    padding: 0px;
    text-align: right;
}

#notice_button #prev_button button, #notice_button #next_button button {
    background-color: rgb(252, 180, 22);
    color: black;
    width: 35%;
    height: 100%;
    padding: 0px;
    border-radius: 25px;
    border: 0px;
    font-size: 12px;
}