@font-face {
    font-family:'NanumBarunGothic';
    src: url('resources/font/NanumBarunGothic') format('truetype');
}

* {
    font-family: 'NanumBarunGothic';
    font-size: 16px;
    /* 개발 테스트용 테두리 설정 */

}

body{
    background-color: rgb(240, 240, 240);
}

#penalty_container {
    
}

#penalty_container #wrapper_top {
    height: 300px;
    background: url(../images/MyPenalty.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#penalty_container #wrapper_top h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 2.5%;
}

#penalty_container #wrapper_bottom #penalty_subtitle {
    font-size: 32px;
    font-weight: bold;
}

#penalty_container #wrapper_bottom #penalty_subtitle #userPenalty {
    color: rgb(231, 76, 60);
    font-size: 32px;
    font-weight: bold;
}

#penalty_container #wrapper_bottom #penalty_progress {
    height: 20px;
    margin-top: 1%;
    background-color: rgb(225, 225, 225);
}

#penalty_container #wrapper_bottom #penalty_progress #progress {
    width: 75%; 
    background-color: rgb(231, 76, 60); 
    height: 20px;
}

#penalty_container #wrapper_bottom #penalty_status {
    text-align: right;
    color: rgb(231, 76, 60);
    margin-top: 0.5%;
}

#penalty_container #wrapper_bottom #penalty_status #penaltyStatus {
    font-weight: bold;
    font-size: 24px;
}

#penalty_container #wrapper_bottom #penalty_explain {
    margin-top: 1%;
}

#penalty_container #wrapper_bottom #penalty_explain #penaltyIcon {
    color: rgb(231, 76, 60);
}

#penalty_container #wrapper_bottom #penalty_list {
    margin-top: 2%;
    height: 300px;
}

#penalty_container #wrapper_bottom #penalty_list tr {
    text-align: center;
}

#penalty_container #wrapper_bottom #penalty_list tr th {
    font-weight: bold;
}

#penalty_container #wrapper_bottom #penalty_list tr td .fas.fa-exclamation-triangle {
    color: rgb(252, 180, 22);
}

#penalty_container #wrapper_bottom #penalty_list tr td .fas.fa-exclamation-circle {
    color: rgb(231, 76, 60);
}

#penalty_container #wrapper_bottom #penalty_list tr td .fas.fa-check-circle {
    color: rgb(0, 129, 55);
}

#penalty_container #wrapper_bottom #penalty_button {
    margin-top: 3%;
    text-align: right;
    margin-bottom: 200px;
}

#penalty_container #wrapper_bottom #penalty_button #penalty_approval {
    margin-right: 1%;
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: rgb(25, 25, 25);
    background-color: rgb(252, 180, 22);
    border: 0px;
}

#penalty_container #wrapper_bottom #penalty_button #penalty_approval:hover {
    font-size: 18px;
    transition: all 0.2s;
}

#penalty_container #wrapper_bottom #penalty_button #penalty_approval:not(:hover) {
    font-size: 16px;
    transition: all 0.2s;
}

#penalty_container #wrapper_bottom #penalty_button #penalty_objection {
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: rgb(25, 25, 25);
    background-color: rgb(252, 180, 22);
    border: 0px;
}

#penalty_container #wrapper_bottom #penalty_button #penalty_objection:hover {
    font-size: 18px;
    transition: all 0.2s;
}

#penalty_container #wrapper_bottom #penalty_button #penalty_objection:not(:hover) {
    font-size: 16px;
    transition: all 0.2s;
}