@font-face {
    font-family:'NanumBarunGothic';
    src: url('resources/font/NanumBarunGothic') format('truetype');
}

* {

    /* 개발 테스트용 테두리 설정 */
    /* border: 1px solid black; */

}
body{
    background-color: rgba(240, 240, 240);
}
/* input,textarea:focus {
  outline:2px solid black;
  box-shadow: 0 0 3px black;
} */



#PersonalData_box #top_content {
      background-image: url("../images/MyPenalty.jpg");
    background-size: cover;
padding-top: 20px;
    height: 300px;
}

#PersonalData_box #top_content h2 {
    font-weight: bold;
    color:  rgb(255, 255, 255);
      margin-top: 7%;
      text-align: center;
      font-size: 48px;
}
#PersonalData_box #bottom_content {
padding: 4% 10% 0 10%;

}

#PersonalData_box #bottom_content #PersonalData_content   #PersonalData_title{
    font-size:36px;
    font-weight: bold;
    padding-bottom: 40px;
    text-align: center;
}
#PersonalData_box #bottom_content #PersonalData_content   #table_content{
  padding-bottom: 40px;


}
#PersonalData_box #bottom_content #PersonalData_content   #table_content table {
  border-collapse: collapse;
 table-layout: fixed;
 white-space: nowrap;


}

#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData table,tr,td {
  border:1px solid black;
  padding: 4px;
  text-align:center;
}

#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData .profilImg{
  width:140px;
  height: 180px;
}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData button{
  width: 60px;
  height: 26px;
  background-color: rgb(252, 180, 22);
  font-weight: bold;
  font-size:12px;
  border:0px;
  border-radius: 5px;
  line-height: 26px;
}
#PersonalData_box #bottom_content #PersonalData_content #table_content #tableData button:hover{
    background-color: rgb(243, 156, 18);

}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData .info{
  width:80px;

  font-weight: bold;
  font-size:20px;
}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData .dataName {

  font-weight: bold;
  font-size:20px;

}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData .smallName{
  font-size: 16px;
  font-weight: bold;
}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData #data {
 background-color: rgb(190, 190, 190);
}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData #data .dataInput{
  width: 80%;
  height: 25px;
  background-color: white;
  border-radius: 5px;
  color:rgb(190, 190, 190);
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  border:0px;
}
#PersonalData_box #bottom_content #PersonalData_content   #table_content #tableData #data .numberInput{
  width: 50px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
  color:rgb(190, 190, 190);
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  border:0px;
}
#PersonalData_box #bottom_content #PersonalData_content #btn_content #btn_correct  {
  width: 100px;
  height: 40px;
  background-color: rgb(252, 180, 22);
  font-weight: bold;
  border:0;
  border-radius: 5px;
  margin-bottom: 10%;
  float: right;
}

#PersonalData_box #bottom_content #PersonalData_content #btn_content #btn_correct:hover{
    background-color: rgb(243, 156, 18);

}
